
.enemy {
  color: #d0ffb4
  color: #4c4cff
  color: #7FFF00
  color: #006400
  color: #9E9E9E
  color: #000000
  color: #ff0000
  color: #FBC02D
  color: #9E9E9E
}
.virus {

  color: #FFBC00
  color: #FF4C00
  color: #7EF138

}
.friends {
  color: #FF00FF
}
.my {
  color: #9b047d
}
